body{
background-image: url("fondoportada.gif");
background-repeat: no-repeat;
background-size: cover;
font-family: helvetica, arial, sans-serif;
}
@keyframes tipsy {
  0 {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(5deg);
  }
}
.titulo a {
  color: #fffbf1;
  font-size: 50px;
  font-weight: lighter;
  text-decoration: none;
  letter-spacing: -3px;
  margin: 0;
  position: absolute;
  top: 12%;
  left: 48%;
  transform: translateX(-40%) translateY(-50%);
}
.titulo a:before,.titulo a:after {
  content: '';
  padding: .9em .4em;
  position: absolute;
  left: 50%;
  width: 100%;
  top: 50%;
  display: block;
  border: 8px solid cyan;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: 0.5s infinite alternate ease-in-out tipsy;
}
.titulo a:before {
  border-color: #1d49c6 #092881 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}
.titulo a:after {
  border-color: rgba(0, 0, 0, 0) #26a3f5 #092881 white;
  box-shadow: 20px 20px 20px rgba(46, 46, 49, .8);
}
#tabla{
  text-align:center;
  width: 30%;
  margin-left: 35%;
  margin-top: 10%;
  border-spacing: 25px 20px;
}
#tabla a{
  text-decoration: none;
  font-size: 30px;
  padding: 2px 20px;
  border-radius: 3px;
  color: white;
}
#tabla a:hover  {
      color: cyan;
      font-size:35px;
}
#tabla td{
      width: 50%;
      border: 2px solid  #50aeec;
      background-color: rgba(255, 255, 255, 0.2);
      box-shadow: 0 0 10px 1px  #aed6f1 ;
      padding: 20px;
}
