* {color: white;
    margin: 0px;
    padding: 0px;
        }
  .centrado{
    margin-left: auto; margin-right: auto;}
  body {

}
#html {
  background: url(https://i.pinimg.com/originals/2a/05/c8/2a05c8cffdb87a17c9cd298740494cc3.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  backdrop-filter: blur(100px);
}



  div > #PAGINAS {
  top:0;
  background-color: #351c75 ;
  }
  div > PAGINAS > p {
    color: #e0e0e0;
  }
  div#Contenido {
    margin-top: 25px;
    margin-bottom: 100px;
  }
  div .Noticia > h1 {
    color: #FFB319;
    text-align: center;
    font-weight: bold;
  }
  div .Noticia > p {
    color: #63B4B8;
  }
  div.Noticia {
    margin: auto;
    width: 50%;
    margin-bottom: 30px;
  }
  div#footer {
    background-color: #4672fe;
    height: 30px;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
  }
 #NOMBRE {
   color: #e0e0e0;
   font-weight: bold;
   text-align:center;

}

  div#Header {
    background-color:#351c75;
    height: 64px;
    color: #2B2181;
    width: 100%;
    position:relative;
    top:0;
    font-size: 350%;
    align-items: center;
  }
  #LOGO {
    height: 45px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    position: fixed;

  }
  .fotos {
    margin: auto;
    display: block;
    height: 250px;
    }

  .fotos {
transition: transform .2s;
}

.fotos:hover {
    transform: scale(1.5);
}
#spotify {
  position: fixed;
  top: 125px;
  right: 25px;
  margin-right: 10px;

}


html {
  background: url(https://i.pinimg.com/originals/2a/05/c8/2a05c8cffdb87a17c9cd298740494cc3.gif)no-repeat center center fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment:inherit;

}


body {
  background: rgba(20, 20, 20, 0.8);
  backdrop-filter: blur(10px);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment:inherit;

}
