@font-face {
  font-family: bit;
  src: url("../Fonts/Minecraft.ttf");
}

.img-circle {
  border-radius: 50%;
}

.card {
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 30px;
  padding: 20px;
  background: white;
  border: dashed rgb(155, 155, 155) 1px;
  border-radius: 15px;
  box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 20%)
}

a {
  color: #7d7d7d;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

a:hover {
  color: #DD5555;
  text-decoration: none;
}

.boton:hover {
  color: red;
}

.texto {
  font-size: 25px;
}

.estilo {}

.list-inline>li {
  display: inline-block;
  width: 90px;
}

div {
  display: block;
}

#FOTO_PERFIL {
  height: 200px;
}

body {
  background: #EBEBEB;
  color: #7d7d7d;
}

h1 {
  color: rgb(0, 0, 244)
}

strong {
  font-weight: bold;
}

#LINKS {
  font-size: 25px;
}

.link-github {}

.red {
  height: 40px;
}

div#FOLLOW> {
  align-items: center;
}

table {
  border: 3px;
  border-color: rgb(0, 0, 244);
  border-style: solid;
  border-collapse: collapse;
  text-align: center;
  font-family: bit;
}

table, thead, tbody, {
  border-collapse: collapse;
  margin: 100px;
}

th {
  font-size: 1.3em;
  background: rgb(10, 50, 255);
  font-family: bit;
}

th, td {
  border: 3px;
  border-style: dashed;
  border-color: rgba(10, 100, 255, 0.82);
  margin: 1px;
  padding: 15px;
}

.tabla {
  display: flex;
  justify-content: center;
  align-items: center;
}
