@font-face {
  font-family: bit;
  src: url("../Fonts/Minecraft.ttf");
}

#FOTO_PERFIL {
  height: 200px;
  margin-left: 100px;
}

#LINKS {
  font-size: 25px;
}

.red {
  height: 25px;
}

table {
  border: 3px;
  border-color: rgb(0, 0, 244);
  border-style: solid;
  border-collapse: collapse;
  text-align: center;
  font-family: bit;
}

table, thead, tbody, {
  border-collapse: collapse;
  margin: 100px;
}

th {
  font-size: 1.3em;
  background: rgb(10, 50, 255);
  font-family: bit;
}

th, td {
  border: 3px;
  border-style: dashed;
  border-color: rgba(10, 100, 255, 0.82);
  margin: px;
  padding: 15px;
}

.tabla {
  display: flex;
  justify-content: center;
  align-items: center;
}
