* {
  color: white;
  margin: 0px;
  padding: 0px;
}

html {
  background-color: #351c75;
  background: url(https://i.pinimg.com/originals/2a/05/c8/2a05c8cffdb87a17c9cd298740494cc3.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  backdrop-filter: blur(100px);
  flex: 0 0 100%;
  display: flex;
  width: 100%;
  height: 100vh;
}

.centrado {
  text-align: center;
}

html, body {
  width: 100%;
  height: 100%;
}

/* HEADER */
div#Header {
  background-color: #351c75;
  height: 64px;
  color: #2B2181;
  width: 100%;
  position: relative;
  top: 0;
  font-size: 350%;
  align-items: center;
  flex: 0 0 auto;
}

#LOGO {
  height: 45px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  position: fixed;
}

#NOMBRE {
  color: #e0e0e0;
  font-weight: bold;
  text-align: center;
}

/* CONTENIDO DE LA PAGINA */
div .Contenido {
  margin-top: 25px;
  margin-bottom: 100px;
  flex: 1 0 auto;
}

div .Noticia>h1 {
  color: #FFB319;
  text-align: center;
  font-weight: bold;
}

div .Noticia>p {
  color: #63B4B8;
}

div .Noticia {
  margin: auto;
  width: 50%;
  margin-bottom: 30px;
}

.fotos {
  margin: auto;
  display: block;
  height: 250px;
}

.fotos {
  transition: transform .2s;
}

.fotos:hover {
  transform: scale(1.5);
}

#spotify {
  position: fixed;
  top: 125px;
  right: 25px;
  margin-right: 10px;
}

div.paginas {
  margin: auto;
  width: 100%;
  margin-bottom: 30px;
}

/* PIE DE PAGINA */
div#footer {
  background-color: #4672fe;
  height: 30px;
  color: white;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  height: 50px;
  flex: 0 0 auto;
}

footer {
  background-color: #555;
  color: #bbb;
  line-height: 1.5;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1;
  /* same as flex-grow: 1; */
}

ul {
  list-style: none;
  padding-left: 0;
}

footer {
  background-color: #555;
  color: #bbb;
  line-height: 1.5;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1;
  /* same as flex-grow: 1; */
}
