thead {
  background: rgb(13, 134, 42);
}

table {
  border: 3px solid rgb(45, 201, 52);
  border-style: solid;
  border-spacing: 0;
  text-align: center;
  width: 50%;
  height: 500px;
}

td {
  border: 1px solid rgb(59, 144, 38);
  border-collapse: collapse;
}

td {
  margin: 50px;
  padding: 10px;
  font-size: 1.3em;
}


#CARACOLA{
  color: white;
  background: black;
}

#numero1 {
  background: rgb(0, 255, 0)
}
#numero2 {
  background: rgb(25, 255, 25)
}
#numero3 {
  background: rgb(50, 255, 50)
}
#numero4 {
  background: rgb(75, 255, 75)
}
#numero5 {
  background: rgb(100, 255, 100)
}
#numero6 {
  background: rgb(125, 255, 125)
}
#numero7 {
  background: rgb(150, 255, 150)
}
#carita {
  background: rgb(175, 255, 175)
}
