body{
  background: lightgray;
}
div.container{
  width: 1450px;
  margin: 0 auto; /* you can change 0 if your want top-bottom margin */
  margin-left: 250px;
}
div.container>div{
  background-color: white;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
#descripcion > p{
  padding-left: 11px;
  padding-right: 11px;
}
.titulo h1 {
  color:  #C70039;
  font-size: 30px;
}
div.container h2{font-weight: lighter;}
a:hover {
    color:red;
    font-size: 18px;
    text-decoration: none;
}
a{
  text-decoration: none;
  color: silver;
 }
 .list-inline > li{
   display: inline-block;
   width: 25%;
 }
#tabla{
  padding-left: 450px;
  padding-bottom: 30px;
}
#tabla img{
  width: 150px;
  height: 150px;
  margin-left: 15%;
  border: 1.5px solid red;
}
#tabla h3,p{
  margin-left: 10%;
}

#sidebar {
  position: fixed;
  width: 100px;
  height: 100%;
  background-color:#566573;
  left:0px;
  top: 0px;
}
#sidebar ul{ list-style: none;}
